nav {
  width: 100%;
  height: 70px;
  background: #515f64;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
  @media screen and (min-width: 1700px) {
    font-size: 1.5rem;
  }

  ul.nav-links {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 24px;

    @media screen and (max-width: 450px) {
      width: 90%;
    }

    li {
      list-style: none;
      font-weight: 300;

      &:hover {
        color: #73cda7;
      }
    }

    .line {
      height: 0.15rem;
      background: #73cda7;
      position: relative;
      top: 10px;
    }
  }
}

.active {
  color: #73cda7;
}
